* {
  font-family: "Roboto";
  box-sizing: border-box;
}

.event-section .title h2 {
  font-size: 3rem;
  text-align: center;
  font-weight: 700;
  letter-spacing: 1px;
}
.event-section .title h2 span {
  position: relative;
}
.event-section .title h2 span::before {
  position: absolute;
  content: "";
  background-image: url("https://thepixelcurve.com/html/meeta/meeta/assets/images/shape/title-shape.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  bottom: -57px;
  left: 37px;
}
.event-section .wrapper {
  position: relative;
  margin-top: 3rem;
}

.container {
  width: 80%;
  margin: auto;
}
.event-details-container {
  margin: auto;
  max-width: 520px;
  height: 450px;
  background-color: white;
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}
.event-details-container .title {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 4rem;
  font-size: 50px;
  text-align: center;
  background: -webkit-linear-gradient(330deg, #1580c8, #7ac0d0);
  /* -webkit-linear-gradient(330deg, #0694f3, #56cdf7) */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 2rem;
}
.event-details-container .details {
  display: flex;
  text-align: center;
  justify-content: space-between;
  color: #8c8989;
  font-size: 15px;
}
.details div {
  margin-right: 0.5rem;
}
.event-details-container .details .icon {
  margin-right: 6px;
  color: #4d89fa;
}

.event-details-container .countdown {
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.event-details-container .countdown .box {
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
}
.event-details-container .countdown .box .time {
  /* background-color: rgb(6, 135, 255); */
  padding: 1.1rem 1.5rem;
  border-radius: 5px;
  color: rgb(6, 135, 255);
  font-family: "Roboto", Courier, monospace;
  font-weight: 700;
  font-size: 30px;
  cursor: default;
}
.event-details-container .countdown .box::before {
  content: ":";
  font-size: 36px;
  right: -7.5%;
  top: 12px;
  position: absolute;
}

.event-details-container .countdown .box .text {
  font-family: "Roboto", Courier, monospace;
  font-weight: 500;
  font-size: 20px;
  color: #8c8989;
}

.tickets {
  margin-top: 3rem;
}

.tickets button {
  position: relative;
  padding: 1rem 2rem;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  font-size: 16px;
  z-index: 1;
}
.tickets button::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  transform: scale(0, 1);
  transform-origin: top left;
  transition: all 0.5s cubic-bezier(0.86, 0, 0.07, 1);
  z-index: -1;
}

.tickets button:hover {
  color: #007bff;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.tickets button:hover::before {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  transform: scale(1, 1);
}

.slider {
  width: 100%;
  position: relative;
  height: 590px;
  overflow: hidden;
}
.slider .slide {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  /* transition: all 1s cubic-bezier(0.86, 0, 0.07, 1); */
  /* transition: all 700ms cubic-bezier(0.26, 0.59, 0.735, 0.91); */
  transition: 1s cubic-bezier(0.5, 0.25, 0, 1);
  transform: translateX(-100%);
}
.slider .slide.active {
  transform: translateX(0);
  z-index: 1;
}
.slider .slide.prev {
  transform: translateX(60%);
  z-index: 1;
}

.slider .slide img {
  width: 600px;
  height: 100%;
}

@media only screen and (max-width: 862px) {
  .container {
    width: 100%;
  }

  .slider .slide.prev {
    transform: translateX(100%);
  }
  .slider .slide img {
    width: 100%;
    height: 100%;
  }
  .event-details-container {
    opacity: 0.9;
  }
  .event-details-container:hover {
    opacity: 1;
  }
}
